#---------------------------------------------------------------------
global
	log         127.0.0.1 local2
	chroot      /var/lib/haproxy
	pidfile     /var/run/haproxy.pid
	maxconn     4000
	user        haproxy
	group       haproxy
	daemon
	stats socket /var/lib/haproxy/stats

defaults
	mode                    http
	log                     global
	option                  httplog
	option                  dontlognull
	option http-server-close
	option forwardfor       except 127.0.0.0/8
	option                  redispatch
	retries                 3
	timeout http-request    10s
	timeout queue           1m
	timeout connect         10s
	timeout client          1m
	timeout server          1m
	timeout http-keep-alive 10s
	timeout check           10s
	maxconn                 3000

#---------------------------------------------------------------------

listen stats
	bind :9000
	mode http
	stats enable
	stats uri /
	monitor-uri /healthz


frontend openshift-api-server
	bind *:6443
	default_backend openshift-api-server
	mode tcp
	option tcplog

backend openshift-api-server
	balance source
	mode tcp
	server bootstrap 10.17.20.39:6443 check
	server master0 10.17.20.40:6443 check
	server master1 10.17.20.41:6443 check
	server master2 10.17.20.42:6443 check


frontend machine-config-server
	bind *:22623
	default_backend machine-config-server
	mode tcp
	option tcplog

backend machine-config-server
	balance source
	mode tcp
	server bootstrap 10.17.20.39:22623 check
	server master0 10.17.20.40:22623 check
	server master1 10.17.20.41:22623 check
	server master2 10.17.20.42:22623 check


frontend ingress-http
	bind *:80
	default_backend ingress-http
	mode tcp
	option tcplog

backend ingress-http
	balance source
	mode tcp
	server worker0 10.17.20.43:80 check
	server worker1 10.17.20.44:80 check
	server worker2 10.17.20.45:80 check


frontend ingress-https
	bind *:443
	default_backend ingress-https
	mode tcp
	option tcplog

backend ingress-https
	balance source
	mode tcp
	server worker0 10.17.20.43:443 check
	server worker1 10.17.20.44:443 check
	server worker2 10.17.20.45:443 check
